body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
